<h1>注文履歴詳細</h1>
<table>
  <tr>
    <th>購入者</th>
    <td></td>
  </tr>
  <tr>
    <th>注文日</th>
    <td></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td></td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td></td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
      <%= form_with model: @order do |f| %>
        <%= f.select :order_status, @order.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %></td>
      <% end %>
  </tr>
</table>