<h1>注文履歴一覧</h1>

<h1>注文日</h1>
<p>日付け</p>

<h1>配送先</h1>
<p>郵便番号</p>

<h1>注文商品</h1>
<p>商品名</p>

<h1>支払い金額</h1>
<p>値段</p>

<h1>ステータス</h1>
<p>入金確認</p>

<h1>注文詳細</h1>
<p>表示する</p>




<%=link_to "ホームページ", root_path %><br>