@import '~bootstrap/scss/bootstrap';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';

h3 {
  background-color: #dcc6b9;
  display: inline-block;
  padding: 0 3%;
}


.main_container {
  width: 750px;
  height: auto;
  position: relative;
}

.main_image {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.main_container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0;
  margin: 0;
}

.new_item_image {
  margin_left: 10%;
}

.new_item {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}


.about_text {
  text-align: center;
  font-weight: 800;
  font-size: 80px;
  margin-bottom: 20px;
}

.about_content {
  text-align: center;
  margin-bottm: 20px;
}


.about_image {
  width: 450px;
  height: auto;
  margin_left: 20px;
}

h5 {
  background-color: #dcc6b9;
  display: inline-block;
  padding: 0 3%;
}

.flex-btn{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}


// 商品の詳細ページ
.item_count-btn{
  margin-top: 20px;
}

.items-price{
  margin-top: 5px
}

// ショッピングカート
.cart_items-table{
  margin-top:50px;
}

.cart_item-image{
  width:200px;
}

.cart_items-table-th{
   width:200px;
}

.cart_item-header{
  display: flex;
  justify-content: space-between;
}

.cart_items-table-total{
  margin-left: 50px;
  width: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.cart_item-footer{
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.cart_item-footer-center{
  margin-left: 300px;
}

// 注文情報入力

.order-new-bold{
  font-weight: bold;
}

.order-new-label{
  margin-left: 30px;
}

.order-new-address{
  width: 250px;
}

.order-new-margin-left{
  margin-left: 30px;
}

.order-new-margin-left-left{
  margin-left: 60px;
}

.address_number-3{
  margin-right: 20px;
  // margin-left: 50px;
}

.address_number{
  margin-right: 150px;
  // margin-left: 50px;
}

.order-new-footer{
  text-align: center;
}

.order-new-had{
  margin-left: 40px;
}