<h1>ここにショッピングカート機能が入る</h1>
<h1>商品名</h1>
<p>商品画像</p>
<p>商品名</p>

<h1>単価</h1>
<p><商品の値段が入る/p>

<h1>数量</h1>
<p>商品の個数を選ぶ（セレクトボックスで実装）</p>
<p>変更ボタンが入る</p>

<h1>小計</h1>
<p>値段が入る</p>

<h1>空白</h1>
<p>削除ボタンが入る</p>




<%=link_to "ホームページ", root_path %><br>