
<h1>9ページ</h1>

<h1>注文情報確認</h1>

<%@items.each do |item| %>
<%=image_tag item.get_item_image(100,100) %><br>
<%=item.name %>

<p>単価(税込)</p>
<%=item.with_tax_price%>
<%end%>



<h1>数量</h1>


<h1>小計</h1>


<h1>送料</h1>


<h1>商品合計</h1>


<h1>請求金額</h1>

<h1>支払い方法</h1>

<h1>お届け先</h1>

<%=link_to "ホームページ", root_path %><br>