<h1>ここにジャンル検索機能がくる</h1>
<p>ケーキ</p>
<p>焼き菓子</p>
<p>プリン</p>
<p>キャンディ</p>

<h1>ここに新着商品一覧が表示される</h1>
<p>商品画像が入る</p>
<p>商品名が入る</p>
<p>￥値段が入る</p>

<h1>ここにページネーションが入る</h1>



<%=link_to "ホームページ", root_path %><br>